*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: SF PRO DISPLAY;
}

html,body{
height: 100%;
width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#overview {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

nav>h3{
    font-size: 21px;
    font-weight: 500;
    margin: 14px 0;
    color: #ffffff;
}

#overview>nav {
    background-color: black;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24%;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#buttons>button {
    margin-right: 5px;
    font-weight: 200;
    font-size: 12.5px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
}

#buttons>.overview, .guided-tour, .tech-specs {
    border: none;
    background-color: transparent;
}

#buttons>.overview {
    color: grey;
}

#buttons>.pre-order {
    border: none;
    background: #0071e3;
}

#overview>video {
    position: absolute;
    object-fit: cover;
    height: 140%;
    width: 60%;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#page-bottom {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 25%;
    position: absolute;
    left: 50%;
    bottom: 8.5%;
    transform: translateX(-50%);
    z-index: 2;
}

#page-bottom>.line1 {
    color: grey;
    font-weight: 200;
    margin-top: 14px;
}

#page-bottom>.line2 {
    color: #ff5a00;
    font-weight: 200;
    margin-top: 10px;
    font-size: 20px;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: red;
}

#page1>video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
}